include README.md
include LICENSE
include sample_preview_settings.json
recursive-include static *
recursive-include templates *
exclude exports/*.svg
global-exclude __pycache__/*
global-exclude *.py[cod]
